{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'style.css' %}" rel="stylesheet"> <!-- Linking custom stylesheet -->
    <title>{% block title %} ArkiFinds {% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="{% url 'base' %}">ArkiFinds</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="{% url 'home_app2' %}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'products_app2' %}">Products</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'contact_app2' %}">Contact</a></li>
            </ul>
        </div>
    </nav>  

    <section class="home-section text-center"><br><br>
        <div class="container">
            <h1 class="mb-5">Welcome to ArkiFinds</h1>
        </div>
    </section>

    <!-- Gallery with padding -->
    <div class="container gallery-container">
        <div class="row">
            <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                <img src="{% static 'app2/images/product1.jpg' %}" class="w-100 shadow-1-strong rounded mb-4" alt="Product 1"/>
                <img src="{% static 'app2/images/product2.jpg' %}" class="w-100 shadow-1-strong rounded mb-4" alt="Product 2"/>
            </div>

            <div class="col-lg-4 mb-4 mb-lg-0">
                <img src="{% static 'app2/images/product3.jpg' %}" class="w-100 shadow-1-strong rounded mb-4" alt="Product 3"/>
                <img src="{% static 'app2/images/product4.jpg' %}" class="w-100 shadow-1-strong rounded mb-4" alt="Product 4"/>
            </div>

            <div class="col-lg-4 mb-4 mb-lg-0">
                <img src="{% static 'app2/images/product5.jpg' %}" class="w-100 shadow-1-strong rounded mb-4" alt="Product 5"/>
                <img src="{% static 'app2/images/product6.jpg' %}" class="w-100 shadow-1-strong rounded mb-4" alt="Product 6"/>
            </div>
        </div>
    </div>

    <footer class="footer">
        <p>&copy; 2024 ArkiFinds. All rights reserved.</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
